.navbarContainer{
  display: flex;
  justify-content: flex-end;
}


.col{
  display: inline-grid;
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  align-self: right;
  float: right;
}

