.overallMain{
  height: 35vw;
  background-color: #59667a;
  color: rgb(255, 0, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.overallBox{
  position: relative;
  width: 30vw;
  height: 30vw;
  float: "left";
  border: solid;
  border-color: #000005;
  margin: 0 auto;
  vertical-align: middle;
}

