.sublistItem{
  height: 10vw;
  align-items: center;
  justify-content: center;
  display: flex;
}


.infoBox{
  height: 8vw;
  width: 8vw;
  position: relative;
  float: "left";
  margin: 0 auto;

}

.resultsBox{
  height: 8vw;
  width: 90vw;
  position: relative;
  float: "left";
  margin: 0 auto;
}