 className="tempContainer">
          <div className="tempInner">


.tempContainer{
  display: flex;
  justify-content: flex-end;
}

.tempInner{
  text-align: left;
  align-self: middle;
}

.Sankey-Container{
  display: flex;
  justify-content: center;
}